body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/095/961/original/360_F_270926864_i2D8igkbTP5EF2Fl9tU8Kcopa8EcZvC7.jpg?1693991006");
  background-repeat: no-repeat;
  background-size: cover;
}

container {
  width: 100%;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-decoration: capitalize;
}

#description::first-letter {
  text-transform: capitalize;
}

.weather-app {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #6ecffd;
  border-radius: 10px;
  margin-bottom: 40px;
  background: linear-gradient(to top, #f7f7f7 0%, #6ecffd 100%);
}
#humidity,
#wind {
  font-size: 18px;
}
.weather-temperature img {
  margin-right: 20px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.d-flex .weather-temperature,
.d-flex-left {
  margin-top: 10px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active,
:hover {
  text-decoration: none;
}

.active,
.inactive {
  text-decoration: none;
}

.col-2 {
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 180px;
  text-align: center;
  color: #000;
  background-color: #f7f7f7 0%;
}
.col-2:hover {
  cursor: pointer;
  background-color: #ffff;
  max-width: 180px;
  transition: all 170ms ease-in-out;
}
.weather-forecast-date {
  border: 2px solid #f7f7f7;
  border-radius: 8px;
  max-width: 180px;
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature,
.weather-forecast-date {
  padding: 18px;
  font-size: 15px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

footer {
  color: #3fa1e9fa;
  text-align: center;
  font-size: 18px;
}
